{% extends "base.html" %}
{% block body %}
  {% if 'admin' in session['username'] %}
    <form action="{{ url_for('add') }}" method="post">
      <dl>
        <dt>Login:
        <dd><input type=text size=20 name=login required>
        <dt>Haslo:
        <dd><input type=text size=20 name=password required>
        <dd><input type=submit name='addUser' value="Dodaj uzytkownika">
       </dl>
    </form>
    <form action="{{ url_for('add') }}" method="post">
       <dl>
        <dt>Login:
        <dd><input type=text size=20 name=login_to_removed required>
        <dd><input type=submit name='removeUser' value="Usun uzytkownika">
      </dl>
    </form>
    <form action="{{ url_for('add') }}" method="post">
      <dl>
        <dd><input type=submit name='userList' value="Wylistuj uzytkownikow">
      </dl>
    </form>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}

    {% endif %}

{% endblock %}
