<!DOCTYPE html>
<html>
    <head>
        <title>Obserwator</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="nav">
            Menu strony:<br />
            <ul>
                {% block nav %}{% endblock %}
                <li><a href="{{url_for('index')}}">Powrot</a></li>
                {% if 'admin' in session['username'] %}
                <li><a href="{{url_for('add')}}">Dodaj uzytkownika</a></li>
                <li><a href="{{url_for('stats')}}">Dodaj statystyki <gracza></gracza></a></li>
                {% endif %}
            </ul>
        </div>
    </body>
</html>