{% extends "base.html" %}
{% block body %}
    <h2>Remote Control</h2>
    Wykonaj komende:
    <form action="{{url_for('remote')}}" method="post">
        <input type="text" name="expression" />
        <input type="submit" value="Wykonaj" />
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Wynik:
            <pre>
                {% for message in messages %}
{{ message }}
                {% endfor %}
            </pre>
        {% endif %}
    {% endwith %}
{% endblock %}
