{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('results') }}" method="post">
      <dl>
        <dd><input type=submit name=showResult value=Sprawdz_wyniki_zawodnkiow>
      </dl>
    </form>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% endfor %}
  </ul>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}
{% endblock %}
