{% extends "base.html" %}
{% block body %}
    <h2>Pokaz wyscigi</h2>
    <form action="{{url_for('results')}}" method="post">
	<dl>
        <dd><input type=submit name=showRaceRaces value="Pokaz wyscigi">
        </dl>
	</form>
	<form action="{{url_for('results')}}" method="post">
	<dt>raceName:
        <dd><input type=text size=20 name=raceNameRaces required>
      <dl>
        <dd><input type=submit name=raceNameToShowDesiredRace value="Pokaz szczegoly wyscigow">
      </dl>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
{{ message }}
                {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
